@font-face {
    font-family: --ff-manrope;
    src: url(./starter-code/assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}

@font-face {
    font-family: --ff-fraunces-144;
    src: url(./starter-code/assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf);
}

:root {
    /* colors */
    --dark-purple: 273 85% 13%;
    --eucaplyptus: 150 100% 63%;
    --davys-grey: 271 12% 34%;
    --ghost-white: 276 100% 99%;
    --white: 0 0% 100%;

    /* font-sizes */
    --fs-11px: .6875rem;
    --fs-16px: 1rem;
    --fs-18px: 1.125rem;
    --fs-20px: 1.25rem;
    --fs-24px: 1.5rem;
    --fs-28px: 1.75rem;
    --fs-32px: 2rem;
    --fs-48px: 3rem;
    --fs-50px: 3.125rem;
    --fs-56px: 3.5rem;
    --fs-60px: 3.75rem;
    --fs-80px: 5rem;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: --ff-manrope;
    display: grid;
}

img {
    display: block;
    max-width: 100%;
}

button {
    font: inherit;
}

p,
h1,
h2,
h3 {
    overflow-wrap: break-word;
}

header {
    color: hsl(var(--white));
    display: grid;
    place-items: center;
}

.bg-image-left {
    display: none;
}

.bg-image-right {
    display: none;
}

.background-top {
    position: relative;
    z-index: 0;
    width: 100%;
    background: hsl(var(--dark-purple));
    clip-path: ellipse(200% 85% at 50% 0);
    padding-bottom: 4.4375rem;

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
}

nav a {
    background-color: transparent;
    border: none;
    color: hsl(var(--white));
    text-decoration: none;
    border-bottom: .1875rem solid hsl(var(--eucaplyptus));
    font-weight: 700;
    font-size: var(--fs-16px);
    line-height: 2rem;
    letter-spacing: -0.01rem;
}

nav a:hover {
    color: hsl(var(--eucaplyptus));
    cursor: pointer;
}

.hero {
    display: grid;
    place-items: center;
    text-align: center;
    animation: page-load-down 1000ms ease-in-out;
}

.hero h1 {
    font-family: --ff-fraunces-144;
    font-style: normal;
    font-weight: 600;
    font-size: var(--fs-50px);
    line-height: 3.125rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 25rem;
}

.underline {
    text-decoration: underline;
    text-decoration-color: hsl(var(--eucaplyptus));
    text-decoration-thickness: .1875rem;
    text-underline-offset: .625rem;
}

.hero button {
    border: none;
    background: hsl(var(--eucaplyptus));
    font-weight: 700;
    font-size: var(--fs-16px);
    line-height: 2rem;
    letter-spacing: -0.01rem;
    color: hsl(var(--dark-purple));
    height: 3.4375rem;
    width: 8.3125rem;
    margin-top: 2.5rem;
    margin-bottom: 10.25rem;
}

.hero button:hover {
    cursor: pointer;
    background-color: transparent;
    color: hsl(var(--eucaplyptus));
    border: .125rem solid hsl(var(--eucaplyptus));
}

.hero-image {
    height: 11.5rem;
    width: 20rem;
    margin-left: 2.9375rem;
    margin-top: -11.3125rem;
    margin-bottom: 2rem;
    position: relative;
    animation: page-load-side 1500ms ease-in-out;
}

.feature-section {
    text-align: center;
    position: relative;
    z-index: -3;
    background: hsl(var(--ghost-white));
    clip-path: ellipse(300% 100% at 50% 0);
    margin-top: -30rem;
    padding-top: 30rem;
    padding-bottom: 7rem;
}

.feature-text {
    display: grid;
    gap: 2.5rem;
}

.feature {
    display: grid;
    justify-content: center;
}

.number-decoration {
    display: grid;
    place-content: center;
    font-family: --ff-fraunces-144;
    font-weight: 600;
    font-size: var(--fs-20px);
    line-height: 2.25rem;
    color: hsl(var(--dark-purple));
    border: .0625rem solid hsl(var(--davys-grey));
    border-radius: 50%;
    width: 3rem;
    height: 2.875rem;
    margin-left: auto;
    margin-right: auto;
}

.feature h3 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-family: --ff-fraunces-144;
    font-style: normal;
    font-weight: 600;
    font-size: var(--fs-28px);
    line-height: 2.25rem;
    color: hsl(var(--dark-purple));
}

.feature p {
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-16px);
    line-height: 1.75rem;
    color: hsl(var(--davys-grey));
    margin: 0 1.4rem;
}

.founder-image {
    width: 17.5625rem;
    height: 17.5625rem;
    margin-top: 6.25rem;
    margin-left: auto;
    margin-right: auto;
    z-index: -99;
    position: relative;
}

.founder-cta {
    margin: -3rem 1rem 0 1rem;
    display: grid;
    text-align: center;
    background-color: hsl(var(--dark-purple));
    color: hsl(var(--white));
    padding: 2.4rem;
    z-index: 999;
}

.founder-cta h2 {
    font-family: --ff-fraunces-144;
    font-style: normal;
    font-weight: 600;
    font-size: var(--fs-32px);
    line-height: 3rem;
    margin-bottom: 1rem;
}

.founder-cta p {
    font-weight: 400;
    font-size: var(--fs-16px);
    line-height: 1.75rem;
}

.founder-cta button {
    border: none;
    background-color: hsl(var(--eucaplyptus));
    height: 3.4375rem;
    width: 10.75rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    font-weight: 700;
    font-size: var(--fs-16px);
    line-height: 2rem;
    letter-spacing: -0.01rem;
    color: hsl(var(--dark-purple));
}

.founder-cta button:hover {
    cursor: pointer;
    background-color: transparent;
    color: hsl(var(--eucaplyptus));
    border: .125rem solid hsl(var(--eucaplyptus));
}

.founder-bg-image {
    display: none;
}

footer {
    display: grid;
    justify-content: center;
    margin-top: 4.625rem;
    margin-left: auto;
    margin-right: auto;
}

.footer-img {
    margin-left: auto;
    margin-right: auto;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 3.5625rem;
    gap: 1.75rem;
    width: 100%;
    margin-bottom: 1rem;
}

.icon-hover:hover {
    cursor: pointer;
    filter: invert(0%) sepia(72%) saturate(2668%) hue-rotate(262deg) brightness(6%) contrast(108%);
}

.attribution {
    margin-top: 1rem;
    font-size: var(--fs-11px);
    text-align: center;
    color: hsl(var(--dark-purple));
}

.attribution a {
    color: hsl(var(--dark-purple));
}

@media screen and (min-width: 768px) {
    .background-top {
        position: relative;
        z-index: 0;
        width: 100%;
        background: hsl(var(--dark-purple));
        clip-path: ellipse(140% 94% at 50% 0);
        padding-bottom: 4.4375rem;
        overflow: hidden;
    }

    .bg-image-left {
        display: block;
        position: absolute;
        margin-top: 4.4375rem;
        left: -14.25rem;
    }

    .bg-image-right {
        display: block;
        position: absolute;
        right: -5.9375rem;
        margin-top: 15.625rem;
    }

    nav {
        padding: 2rem 2.5rem;
    }

    .hero h1 {
        font-size: var(--fs-60px);
        line-height: 3.75rem;
    }

    .hero-image {
        height: 18.5rem;
        width: 32.125rem;
    }

    .feature-section {
        clip-path: ellipse(200% 99% at 50% 0);
    }

    .feature-text {
        padding-top: 1.5rem;
        gap: 3rem;
        display: grid;
    }

    .feature {
        display: flex;
        text-align: start;
        align-items: center;
        padding: 0 7.1875rem 0 6.0625rem;
        gap: 2rem;
    }

    .feature h3 {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .feature-section-left-align p {
        margin: 0;
    }

    .founder-section {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .founder-section-desktop {
        max-width: 43.0625rem;
    }

    .founder-image {
        width: 17.5625rem;
        height: 17.5625rem;
        margin-top: 5.5625rem;
        margin-left: 0;
        margin-right: auto;
        z-index: -99;
        position: relative;
    }

    .founder-cta {
        margin-top: -8.0625rem;
        display: grid;
        text-align: left;
        background-color: hsl(var(--dark-purple));
        color: hsl(var(--white));
        margin-left: 10.875rem;
        padding: 3rem 3.5rem 3.5rem 3.5rem;
    }

    .founder-cta h2 {
        font-weight: 600;
        font-size: var(--fs-48px);
        line-height: 3.5rem;
        margin-bottom: 1.5rem;
    }

    .founder-cta button {
        margin-left: 0;
    }

    .founder-bg-image {
        display: block;
        position: absolute;
        margin-top: 13.875rem;
        margin-left: 14.0625rem;
    }

    footer {
        margin-top: 4.9375rem;
    }
}

@media screen and (min-width:1100px) {
    .background-top {
        clip-path: ellipse(120% 95% at 50% 0);
        padding-bottom: 12.5rem;
    }

    .bg-image-left {
        margin-top: 7.25rem;
        left: -8.6875rem;
    }

    .bg-image-right {
        right: -3rem;
        top: 4rem;
    }

    nav {
        padding: 3.375rem 10.3125rem;
        font-style: normal;
        font-weight: 700;
        font-size: var(--fs-32px);
        line-height: 2rem;
        letter-spacing: -0.0112rem;
        color: #44FFA1;
    }

    nav a {
        font-size: var(--fs-18px);
    }

    .hero h1 {
        font-weight: 600;
        font-size: var(--fs-80px);
        line-height: 5rem;
        text-align: center;
        color: #FFFFFF;
        max-width: 40rem;
        margin-top: .125rem;
    }

    .hero button {
        height: 3.8125rem;
        width: 10.0625rem;
        margin-top: 2.1875rem;
        font-size: var(--fs-18px);
        line-height: 2rem;
        text-align: center;
        letter-spacing: -0.0112rem;
        color: #24053E;
    }

    .hero-image {
        height: 27.5625rem;
        width: 47.9375rem;
        margin-top: -19.5rem;
    }

    .feature-text {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 5.3125rem;
        margin-top: 3.5rem;
        gap: 0;
    }

    .feature {
        display: grid;
        padding: 0;
        text-align: center;
        max-width: 23.75rem;
    }

    .number-decoration {
        width: 3.5rem;
        height: 3.5rem;
        font-size: var(--fs-24px);
    }

    .feature h3 {
        font-weight: 600;
        font-size: var(--fs-32px);
        line-height: 2.5rem;
        text-align: center;
        color: #24053E;
        margin-top: 1.625rem;
        margin-bottom: 1.875rem;
    }

    .feature p {
        font-weight: 400;
        font-size: var(--fs-18px);
        line-height: 2rem;
        text-align: center;
        color: #24053E;
        padding: 0 1rem;
    }

    .feature-section {
        clip-path: ellipse(140% 99% at 50% 0);
        padding-bottom: 11rem;
    }

    .founder-section-desktop {
        max-width: 69.5rem;
    }

    .founder-image {
        width: 29.8125rem;
        height: 29.8125rem;
        margin-top: 6.375rem;
    }

    .founder-cta {
        margin-top: -19rem;
        margin-left: 23.8125rem;
        padding: 4rem;
        width: 45.625rem;
    }

    .founder-cta h2 {
        font-weight: 600;
        font-size: var(--fs-56px);
        line-height: 4rem;
        color: #FFFFFF;
        margin-bottom: 2rem;
    }

    .founder-cta p {
        font-weight: 400;
        font-size: var(--fs-18px);
        line-height: 2rem;
    }

    .founder-cta button {
        height: 3.8125rem;
        width: 11.875rem;
        margin-top: 2rem;
        font-weight: 700;
        font-size: var(--fs-18px);
        line-height: 2rem;
        text-align: center;
        letter-spacing: -0.0112rem;
    }

    .founder-bg-image {
        margin-top: 12.5rem;
        margin-left: 23.3125rem;
    }

    footer {
        margin-top: 7.5625rem;
    }
}

/* animation */
@keyframes page-load-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes page-load-side {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}
